{% extends 'base.html.twig' %}

{% block title %}{{ context == 'show' ? 'Catégorie' : 'Modifier une catégorie'}}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="h2">{{ context == 'show' ? 'Catégorie' : 'Modifier une catégorie' }}</h1>
        <hr>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label for="category-id" class="form-label lead">Uuid</label>
            <input type="text" id="category-id" class="form-control" disabled value="{{ category.getId() }}"/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label for="category-created-at" class="form-label lead">Crée le</label>
            <input type="text"
                   id="category-created-at"
                   class="form-control"
                   disabled
                   value="{{ category.getCreatedAt()|date('d-m-Y H:i:s', 'Europe/Paris') }}"
            />
        </div>
        <div class="col-3">
            <label for="category-updated-at" class="form-label lead">Modifié le</label>
            <input type="text"
                   id="category-updated-at"
                   class="form-control"
                   disabled
                   value="{{ category.getUpdatedAt()|date('d-m-Y H:i:s', 'Europe/Paris') }}"
            />
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-3">
            <label for="category-name" class="form-label lead">Nom</label>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name,
                {'attr':
                    {
                        'placeholder': 'Nom',
                        'class': 'form-control',
                        'id': 'category-name',
                        'disabled': context == 'show' ? true : false
                    }
                }
            )}}
        </div>
        <div class="col-3">
            <label for="category-label" class="form-label lead">Label</label>
            {{ form_errors(form.label) }}
            {{ form_widget(form.label,
                {'attr':
                    {
                        'placeholder': 'Label',
                        'class': 'form-control',
                        'id': 'category-label',
                        'disabled': context == 'show' ? true : false
                    }
                }
            )}}
        </div>
    </div>
    <div class="d-flex mt-4">
        {{ form_widget(form.submit,
            {'attr':
                {
                    'class': context == 'edit' ? 'btn btn-primary me-2' : 'd-none',
                },
                'label': 'Modifier'
            }
        ) }}
        {% if context == 'show' %}
            <a href="{{ path('category_edit', {'id': category.getId()}) }}"
               class="btn btn-primary me-2"
            >
                Modifier
            </a>
        {% endif %}
        <a href="{{ path('category_index') }}" class="btn btn-secondary me-2">Retour</a>
        <button class="btn btn-danger"
                data-uuid="{{ category.getId() }}"
                data-controller="category"
                data-action="category#deleteCategory"
        >
            Supprimer
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
