{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    <form action='{{ path('question_edit', {id: question.id})}}' method="post">
        <label for="question-content">Question :</label>
        <textarea id="question-content" name="question-content" required>{{ question.content }}</textarea>
        <label for="question-type-select">Type</label>
            {% for type in questionTypes %}
                {% if type.name in question.types %}
                    <input type="checkbox" id="cbx-type-{{ type.name }}"
                           name="cbx-type-{{ type.name }}" value="{{ type.name }}" checked>
                {% else %}
                    <input type="checkbox" id="cbx-type-{{ type.name }}"
                           name="cbx-type-{{ type.name }}" value="{{ type.name }}">
                {% endif %}
                <label for="cbx-type-{{ type.name }}">{{ type }}</label>
            {% endfor %}
        <div>
            {% for category in categories %}
                {% if category.name in question.categories %}
                    <input type="checkbox" id="cbx-category-{{ category.name }}" name="cbx-category-{{ category.name }}" value="{{ category.name }}" checked>
                {% else %}
                    <input type="checkbox" id="cbx-category-{{ category.name }}" name="cbx-category-{{ category.name }}" value="{{ category.name }}">
                {% endif %}
                <label for="cbx-category-{{ category.name }}">{{ category }}</label>
            {% endfor %}
        </div>
        <p>Réponses</p>
        {% for answer in question.answer['answers'] %}
            <div>
                <input type="text" name="answers-content-{{ loop.index }}" id="answer-{{ loop.index }}" value="{{ answer['content'] }}"/>
                {% if answer['is_good_answer'] == true %}
                    <input type="radio" id="good-answer-radio-{{ loop.index }}" name="answers-is_good_answer-{{ loop.index }}"
                           value="1" checked/>
                    <label for="good-answer-radio-{{ loop.index }}">Bonne réponse</label>

                    <input type="radio" id="bad-answer-radio-{{ loop.index }}" name="answers-is_good_answer-{{ loop.index }}" value="0"/>
                    <label for="bad-answer-radio-{{ loop.index }}">Mauvaise réponse</label>
                {% else %}
                    <input type="radio" id="good-answer-radio-{{ loop.index }}" name="answers-is_good_answer-{{ loop.index }}" value="1"/>
                    <label for="good-answer-radio-{{ loop.index }}">Bonne réponse</label>

                    <input type="radio" id="bad-answer-radio-{{ loop.index }}" name="answers-is_good_answer-{{ loop.index }}" value="0" checked/>
                    <label for="bad-answer-radio-{{ loop.index }}">Mauvaise réponse</label>
               {% endif %}
            </div>
        {% endfor %}
        <div>
            <label for="additional-response_media-info">Information supplémentaire</label>
            <textarea name="additional-response_media-info"
                      id="additional-response_media-info"
            >{{ question.answer['additional']['responseMedia']['info'] ?? '' }}</textarea>
        </div>
{#        <div>#}
{#        TODO RESPONSE MEDIA FILE INPUT #}
{#        </div>#}
        <div>
            <label for="question-difficulty-select">Difficulté</label>
            <select name="question-difficulty" id="question-difficulty-select">
                {% for difficulty in questionDifficulty %}
                    {% if question.difficulty == difficulty %}
                        <option value="{{ difficulty }}" selected>{{ difficulty }}</option>>
                    {% else %}
                        <option value="{{ difficulty }}">{{ difficulty }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="question-status-select">Statut</label>
            <select name="question-status" id="question-status-select">
                {% for status in questionStatuses %}
                    {% if question.status == status %}
                        <option value="{{ status }}" selected>{{ status }}</option>>
                    {% else %}
                        <option value="{{ status }}">{{ status }}</option>
                    {% endif %}
                {% endfor %}
        </select>
        </div>
{#        {% if question.customQuiz %}#}
{#        TODO handling when changing a question Position. The position of the question below and above should move
           consequently #}
{#        {% endif %}#}
        <input type="hidden" name="token" value="{{ csrf_token('question_edit_token') }}"/>
        <button type="submit">Envoyer</button>
    </form>

    <a href="{{ path('question_index') }}">back to list</a>

    {{ include('question/_delete_form.html.twig') }}

{% endblock %}
