{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>
    <div data-controller="question" data-action="click->question#hideCheckboxes">
        <div class="row">
            <div class="col-3">
                <input type="text" placeholder="uuid" class="form-control"/>
            </div>
            <div class="col-3">
                <input type="text" data-question-target="search" data-action="question#onInput" placeholder="question ou réponse" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-select d-flex justify-content-start"
                     data-action="click->question#showCheckboxes" data-checkboxes-for="categories" data-filter-select>
                    <span class="placeholder" data-click-not-hiding>Catégories</span>
                </div>
                <div id="categories" class="checkboxes-div d-none" data-click-not-hiding>
                    <div class="mb-2" data-click-not-hiding>
                        <button class="btn btn-primary btn-sm"
                                data-action="click->question#pickAll"
                                data-checkboxes-for="categories"
                                data-click-not-hiding
                        >
                            Toutes
                        </button>
                        <button class="btn btn-danger btn-sm"
                                data-action="click->question#unpickAll"
                                data-checkboxes-for="categories"
                                data-click-not-hiding
                        >
                            Vider
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between" data-click-not-hiding>
                    {% for category in categories %}
                        <label class="form-check-label mb-1" data-click-not-hiding>
                            <input type="checkbox"
                                   data-checkboxes="categories"
                                   class="form-check-input"
                                   value="{{ category.getName() }}"
                                   data-action="change->question#onChangeCheckbox"
                                   data-click-not-hiding
                            >
                            {{ category.getLabel() }}
                        </label>
                    {% endfor %}
                    </div>
                </div>

{#                <select class="form-select"  size="3" name="select-arrow" id="categories" data-question-target="category" data-action="question#onChange" multiple>#}
{#                    <option value="all" selected>Toutes</option>#}
{#                    {% for category in categories %}#}
{#                        <option value="{{ category }}">{{ category.getLabel() }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
            </div>

        </div>

        <select name="" id="" data-question-target="questionTypes" data-action="question#onChange" class="form-select">
            <option value="all">Tous</option>
            {% for type in questionTypes %}
                <option value="{{ type }}">{{ type.getLabel() }}</option>
            {% endfor %}
        </select>
        <select name="" id="" data-question-target="status" data-action="question#onChange" class="form-select">
            <option value="all">Tous</option>
            {% for status in statuses %}
                <option value="{{ status }}">{{ status }}</option>
            {% endfor %}
        </select>
        <button data-action="question#test">Test</button>
    </div>
    {% block questions %}
    <div id="questions-block">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Uuid</th>
                    <th>Content</th>
                    <th>Answer</th>
                    <th>Types</th>
                    <th>Categories</th>
                    <th>isHardcore</th>
                    <th>Status</th>
                    <th>Media</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.getId() }}</td>
                    <td>{{ question.getContent() }}</td>
                    <td>
                        {% if 'input' in question.getTypes() %}
                            {{ question.answer.answers[0].content }}
                            <div style="background-color: red">
                                {% for answer in question.answer.answers %}
                                    {{ answer.content }}
                                {% endfor %}
                                {% if answer.additionnal is defined %}
                                    <a href="#">Infos supplémentaires</a>
                                {% endif %}
                            </div>
                        {% elseif 'qcm' in question.getTypes() %}
                            {% for answer in question.answer.answers %}
                                {% if answer.is_good_answer %}
                                    {{ answer.content }}
                                {% endif %}
                            {% endfor %}
                            <div style="background-color: red">
                                {% for answer in question.answer.answers %}
                                    {{ answer.content }} {% if answer.is_good_answer  %} (Bonne réponse) {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        SEE MORE
                    </td>
                    <td>{% for type in question.getTypes() %}
                            {{ type.getLabel() }}
                        {% endfor %}
                    </td>
                    <td>{% for category in question.getCategories() %}
                            {{ category.getLabel() }}
                        {% endfor %}
                    </td>
                    <td>{{ question.getIsHardcore() }}</td>
                    <td>{{ question.getStatus() }}</td>
    {#                <td>{{ question.answer ? question.answer|json_encode : '' }}</td>#}


    {#                <td>{{ question.media ? question.media|json_encode : '' }}</td>#}
                    <td>{% if question.media|length > 0 %}
                        OUI
                        {% endif %}

    {#                    <table>#}
    {#                        {% for key, field in question.media %}#}
    {#                            <tr>#}
    {#                                <th>{{ key }} </th>#}
    {#                                <td>{{ field }}</td>#}
    {#                            </tr>#}
    {#                        {% endfor %}#}
    {#                    </table>#}
                    </td>
                    <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                    <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                    <td>
                        <a href="{{ path('question_show', {'id': question.id}) }}">show</a>
                        <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(questions) }}
        </div>
    </div>
    {% endblock %}
    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
