{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Content</th>
                <th>Answer</th>
                <th>Types</th>
                <th>Categories</th>
                <th>Difficulty</th>
                <th>Status</th>

                <th>Media</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
{#                <td>{{ question.id }}</td>#}
                <td>{{ question.content }}</td>
                <td>
                    {% for type in question.types %}
                        {% if type == 'input' %}
                            {% for key, jsonField in question.answer %}
                                {% if key == 'answers' %}
                                    {% for answer in jsonField %}
                                        {% if loop.first %}
                                            {{ answer.content }}
                                        {% else %}
                                            {{ answer.content }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for additional in jsonField %}
                                        {{ additional }}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% elseif type == 'qcm' %}

                        {% endif %}
                    {% endfor %}


                    {% for key, field in question.answer %}
                        {% if key == 'answers' %}
                            {% for answer in field %}
                                {% for type in question.types %}
                                    {% if type == 'input' %}
                                        {% if loop.first %}
                                            UNE FOIS
                                        {% endif %}
                                    {% elseif type == 'qcm' %}
                                        {% if answer.is_good_answer %}
                                            {{ answer.content }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

{#                                {% if answer.is_good_answer %}#}
{#                                    {{ loop.first }}#}
{#                                    {{ answer.content }}#}
{#                                {% endif %}#}
                            {% endfor %}
                            SEE MORE
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for type in question.types %}
                        {{ type }}
                    {% endfor %}
                </td>
                <td>{% for category in question.categories %}
                        {{ category }}
                    {% endfor %}
                </td>
                <td>{{ question.difficulty }}</td>
                <td>{{ question.status }}</td>
{#                <td>{{ question.answer ? question.answer|json_encode : '' }}</td>#}


{#                <td>{{ question.media ? question.media|json_encode : '' }}</td>#}
                <td>{% if question.media|length > 0 %}
                    OUI
                    {% endif %}

{#                    <table>#}
{#                        {% for key, field in question.media %}#}
{#                            <tr>#}
{#                                <th>{{ key }} </th>#}
{#                                <td>{{ field }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}
                </td>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
