{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('question') }}{% endblock %}
{% block body %}
    <h1 class="title-page">Questions</h1>
    <!--<p class="total-question">Nombre total : {{ questions.getTotalItemCount }}</p>-->
    <input type="text" id="search-input" class="search-input rounded col-6 col-lg-4 mt-5" placeholder="Rechercher une question">
    <div class="filters mt-3 d-flex flex-wrap">
        <div class="d-flex flex-column">
            <label for="type">Type</label>
            <select id="type" class="mr-2">
                <option selected="selected">---</option>

                {% for questionType in questionTypes %}
                    <option data-name="{{ questionType.name }}">{{ questionType.label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-flex flex-column">
            <label for="difficulty">Difficulté</label>
            <select id="difficulty" class="mr-2">
                <option selected="selected">---</option>
                <option data-name="easy">Facile</option>
                <option data-name="medium">Moyen</option>
                <option data-name="hard">Difficile</option>
            </select>
        </div>

        <div class="d-flex flex-column">
            <label for="category">Category</label>
            <select id="category" class="mr-2">
                <option selected="selected">---</option>
                {% for category in categories %}
                    <option data-name="{{ category.name }}">{{ category.label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="d-flex flex-column">
            <label for="status">Status</label>
            <select id="status" class="mr-2">
                <option selected="selected">---</option>
                <option data-name="pending">En attente</option>
                <option data-name="approved">Approuvée</option>
                <option data-name="disapproved">Désapprouvée</option>
            </select>
        </div>

    </div>
    <table class="table table-entity mt-3">
        <thead>
        <tr>
            <th>Id</th>
            <th>Types</th>
            <th>Difficulty</th>
            <th>Categories</th>
            <th>Content</th>
            <th>Answer</th>
            <th>Status</th>
            <th>Media</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="tbody-question">
        {% for question in questions %}
            <tr>
            <td>{{ question.id }}</td>
            <td>{% for type in question.types %}
                    {{ type }}
                {% endfor %}
            </td>
            <td>{{ question.difficulty }}</td>
            <td>{% for category in question.categories %}
                    {{ category }}
                {% endfor %}
            </td>
            <td>{{ question.content }}</td>
            {#                <td>{{ question.answer ? question.answer|json_encode : '' }}</td>#}
            <td class="content-answer-cell">
            <span class="show-cell"><i class="fas fa-eye"></i></span>
            <span class="hide-cell"><i class="fas fa-minus-circle"></i></span>

            <div class="answer-cell">
            {% for key, field in question.answer %}
                {% if key == 'answers' %}
                    {% for answer in field %}
                        {% if answer.is_good_answer %}
                            <p style="color: forestgreen"> {{ answer.content }}</p>
                        {% else %}
                            <p style="color: red"> {{ answer.content }}</p>
                        {% endif %}
                    {% endfor %}
                {% elseif key == 'additional' %}
                    <tr>
                        <th>additional</th>
                        <td>
                            <table>
                                {% for additional in field %}
                                    {% for key, additionalField in additional %}
                                        <tr>
                                            <td>
                                                {{ key }} : {{ additionalField }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </div>
            </td>
            <td>{{ question.status }}</td>
            {#                <td>{{ question.media ? question.media|json_encode : '' }}</td>#}
            <td>
                <table>
                    {% for key, field in question.media %}
                        <tr>
                            <th>{{ key }} </th>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
            <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
            <td>
                <a href="{{ path('question_show', {'id': question.id}) }}"><i class="fas fa-eye"></i></a>
                <a href="{{ path('question_edit', {'id': question.id}) }}"><i class="fas fa-edit"></i></a>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10" class="no-result">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(questions) }}

    <a class="btn btn-primary mt-4" href="{{ path('question_new') }}">+ Ajouter</a>
{% endblock %}

{% block javascripts %} {{ parent() }} {{ encore_entry_script_tags('question') }}{% endblock %}
