{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="h2">Questions</h1>
        <hr>
    </div>
    <div data-controller="question">
        <div class="row mb-3">
            <div class="col-3">
                <input type="text"
                       data-input="uuid"
                       id="uuid-input"
                       data-action="question#onInput"
                       placeholder="UUID"
                       class="form-control"/>
            </div>
            <div class="col-3">
                <input type="text"
                       data-input="search"
                       id="search-input"
                       data-action="question#onInput"
                       placeholder="Question ou réponse"
                       class="form-control"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <div class="form-select d-flex justify-content-start"
                     data-action="click->question#showCheckboxes" id="categories-input" data-checkboxes-for="categories" data-filter-select>
                    <span class="placeholder" data-click-not-hiding>Catégories</span>
                </div>
                <div id="categories" class="checkboxes-div d-none" data-click-not-hiding>
                    <div class="mb-2" data-click-not-hiding>
                        <button class="btn btn-primary btn-sm"
                                data-action="click->question#onPick"
                                data-pick="full"
                                data-checkboxes-for="categories"
                                data-click-not-hiding
                        >
                            Toutes
                        </button>
                        <button class="btn btn-danger btn-sm"
                                data-action="click->question#onPick"
                                data-pick="empty"
                                data-checkboxes-for="categories"
                                data-click-not-hiding
                        >
                            Vider
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-start" data-click-not-hiding>
                        {% for category in categories %}
                            <label class="form-check-label mb-1 me-1" data-click-not-hiding>
                                <input type="checkbox"
                                       data-checkboxes="categories"
                                       class="form-check-input"
                                       value="{{ category.getName() }}"
                                       data-action="change->question#onMultiCheckboxesChange"
                                       data-click-not-hiding
                                >
                                {{ category.getLabel() }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-select d-flex justify-content-start"
                     data-action="click->question#showCheckboxes" id="questionTypes-input" data-checkboxes-for="questionTypes" data-filter-select>
                    <span class="placeholder" data-click-not-hiding>Types</span>
                </div>
                <div id="questionTypes" class="checkboxes-div d-none" data-click-not-hiding>
                    <div class="mb-2" data-click-not-hiding>
                        <button class="btn btn-primary btn-sm"
                                data-action="click->question#onPick"
                                data-pick="full"
                                data-checkboxes-for="questionTypes"
                                data-click-not-hiding
                        >
                            Toutes
                        </button>
                        <button class="btn btn-danger btn-sm"
                                data-action="click->question#onPick"
                                data-pick="empty"
                                data-checkboxes-for="questionTypes"
                                data-click-not-hiding
                        >
                            Vider
                        </button>
                    </div>
                    {% for type in questionTypes %}
                        <label class="form-check-label mb-1 me-1" data-click-not-hiding>
                            <input type="checkbox"
                                   data-checkboxes="questionTypes"
                                   class="form-check-input"
                                   value="{{ type.getName() }}"
                                   data-action="change->question#onMultiCheckboxesChange"
                                   data-click-not-hiding
                            >
                            {{ type.getLabel() }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <div class="form-select d-flex justify-content-start"
                     data-action="click->question#showCheckboxes" id="statuses-input" data-checkboxes-for="statuses" data-filter-select>
                    <span class="placeholder" data-click-not-hiding>Statut</span>
                </div>
                <div id="statuses" class="checkboxes-div d-none" data-click-not-hiding>
                    <div class="mb-2" data-click-not-hiding>
                        <button class="btn btn-primary btn-sm"
                                data-action="click->question#onPick"
                                data-pick="full"
                                data-checkboxes-for="statuses"
                                data-click-not-hiding
                        >
                            Toutes
                        </button>
                        <button class="btn btn-danger btn-sm"
                                data-action="click->question#onPick"
                                data-pick="empty"
                                data-checkboxes-for="statuses"
                                data-click-not-hiding
                        >
                            Vider
                        </button>
                    </div>
                    {% for status in statuses %}
                        <label class="form-check-label mb-1 me-1" data-click-not-hiding>
                            <input type="checkbox"
                                   data-checkboxes="statuses"
                                   class="form-check-input"
                                   value="{{ status }}"
                                   data-action="change->question#onMultiCheckboxesChange"
                                   data-click-not-hiding
                            >
                            {{ status }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label class="me-1 form-check-label">
                    <input type="checkbox" class="form-check-input" id="isHardcore-input"
                           data-checkbox="isHardcore" data-action="change->question#onUniqueCheckboxChange"/>
                    <span>Hardcore</span>
                </label>

                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="hasMedia-input"
                           data-checkbox="hasMedia" data-action="change->question#onUniqueCheckboxChange"/>
                    <span>Media</span>
                </label>
            </div>
        </div>
    </div>
    {% block questions %}
        <div id="questions-block" data-controller="question" class="mb-3">
            <div class="count mb-2">
                <span style="font-size: 1.1em">Total : </span><span class="badge bg-primary" style="font-size: 1em">{{ questions.getTotalItemCount }}</span>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Uuid</th>
                        <th>Contenu</th>
                        <th>Réponse</th>
                        <th>Types</th>
                        <th>Catégories</th>
                        <th>Hardcore</th>
                        <th>Statut</th>
                        <th>Media</th>
                        <th>Créé le</th>
                        <th>Modifié le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.getId() }}</td>
                        <td>{{ question.getContent() }}</td>
                        <td>
                            {% if 'input' in question.getTypes() %}
                                <div style="white-space: nowrap; display: flex" class="mb-2">
                                    <i class="bi bi-plus-square pointer-cursor text-primary me-2"
                                       data-full-answer-button="{{ loop.index }}"
                                       data-action="click->question#onFullAnswer
                                           mouseenter->question#onFullAnswerMouseEvent
                                           mouseleave->question#onFullAnswerMouseEvent">
                                    </i>
                                    <span style="white-space: normal;">{{ question.answer.answers[0].content }}</span>
                                </div>
                                <div data-full-answer="{{ loop.index }}" class="d-none card">
                                    <div class="card-body">
                                        {% for answer in question.answer.answers %}
                                            <span style="display: block">{{ answer.content }}</span>
                                            <div style="height: 1px; width: 100%; background-color: #c2cad2"
                                                 class="my-1"></div>
                                        {% endfor %}
    {#                                        TODO QUAND QUESTIONS SHOW SERA REFAIT#}
                                        {% if question.answer.additional is defined %}
                                            <a href="#">Infos supplémentaires</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% elseif 'qcm' in question.getTypes() %}
                                <div style="white-space: nowrap; display: flex" class="mb-2">
                                    <i class="bi bi-plus-square pointer-cursor text-primary me-2"
                                       data-full-answer-button="{{ loop.index }}"
                                       data-action="click->question#onFullAnswer
                                       mouseenter->question#onFullAnswerMouseEvent
                                       mouseleave->question#onFullAnswerMouseEvent">
                                    </i>
                                    {% for answer in question.answer.answers %}
                                        {% if answer.is_good_answer %}
                                            <span style="white-space: normal;">{{ answer.content }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div data-full-answer="{{ loop.index }}" class="d-none card bg-light">
                                    <div class="card-body">
                                        {% for answer in question.answer.answers %}
                                            <span style="display: block">
                                                {{ answer.content }}
                                                {% if answer.is_good_answer  %}
                                                    <span class="text-success">(Bonne réponse)</span>
                                                {% endif %}
                                            </span>
                                            <div style="height: 1px; width: 100%; background-color: #c2cad2"
                                                 class="my-1"></div>
                                        {% endfor %}
                                        {% if question.answer.additional is defined %}
                                            <a href="{{ path('question_show', {'id': question.id}) }}">
                                                Infos supplémentaires
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td>{% for type in question.getTypes() %}
                                <span style="display: block">{{ type.getLabel() }}</span>
                            {% endfor %}
                        </td>
                        <td>{% for category in question.getCategories() %}
                                <span style="display: block">{{ category.getLabel() }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ question.getIsHardcore()
                                ? '<i class="bi bi-check-lg text-success"></i>'
                                : '<i class="bi bi-x-lg text-danger"></i>' }}</td>
                        <td>{{ question.getStatus() }}</td>
                        <td>{{ question.media|length > 0
                            ? '<i class="bi bi-check-lg text-success"></i>'
                            : '<i class="bi bi-x-lg text-danger"></i>' }}</td>
                        <td>{{ question.createdAt ? question.createdAt|date('d-m-Y H:i:s', 'Europe/Paris') : '' }}</td>
                        <td>{{ question.updatedAt ? question.updatedAt|date('d-m-Y H:i:s', 'Europe/Paris') : '' }}</td>
                        <td style="display: flex; flex-direction: column">
                            <a href="{{ path('question_show', {'id': question.id}) }}"
                               class="btn btn-sm btn-outline-primary mb-2"
                            >
                                Afficher
                            </a>
                            <a href="{{ path('question_edit', {'id': question.id}) }}"
                               class="btn btn-sm btn-outline-primary"
                            >
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(questions) }}
            </div>
        </div>
    {% endblock %}
    <a href="{{ path('question_new') }}" class="btn btn-primary">Ajouter</a>
{% endblock %}
