{% extends 'base.html.twig' %}

{% block title %}Edit RefreshToken{% endblock %}
{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('refreshToken') }}{% endblock %}

{% block body %}
    <h1>Edit RefreshToken</h1>

    {{ include('refresh_token/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('refresh_token_index') }}">retour à la liste</a>

    {{ include('refresh_token/_delete_form.html.twig') }}
{% endblock %}
