{% extends 'base.html.twig' %}

{% block title %}Tokens{% endblock %}
{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('refreshToken') }}{% endblock %}

{% block body %}
    <h1 class="title-page">Tokens</h1>
    <table class="table table-entity mt-3">
        <thead>
            <tr>
                <th>User</th>
                <th>Token</th>
                <th>ExpirationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for refresh_token in refresh_tokens %}
            <tr>
                <td>
                   {{ refresh_token.user ? refresh_token.user.username : 'Guest' }}
                </td>
                <td>{{ refresh_token.token}}</td>
{#                <td>{{ refresh_token.token|u.truncate(30, '...') }}</td>#}
                <td>{{ refresh_token.expirationDate ? refresh_token.expirationDate|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('refresh_token_show', {'token': refresh_token.token}) }}"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="no-result">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %} {{ parent() }} {{ encore_entry_script_tags('refreshToken') }}{% endblock %}
