{% extends 'base.html.twig' %}

{% block title %}RefreshToken index{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="h2">Refresh tokens</h1>
        <hr>
    </div>
    <div data-controller="refreshToken">
        <div class="row mb-3">
            <div class="col-6">
                <input type="text"
                       data-input="search"
                       id="search-input"
                       data-action="refreshToken#onInput"
                       placeholder="Utilisateur"
                       class="form-control"/>
            </div>
        </div>
    </div>
    {% block refreshTokens %}
        <div id="refreshTokens-block" data-controller="refreshToken" class="mb-3">
            <div class="count mb-2">
                <span style="font-size: 1.1em">Total : </span>
                <span class="badge bg-primary" style="font-size: 1em">{{ refreshTokens.getTotalItemCount }}</span>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Utilisateur</th>
                        <th>Token</th>
                        <th>Date d'expiration</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for refreshToken in refreshTokens %}
                    <tr>
                        <td>
                           {{ refreshToken.getUser() ? refreshToken.getUser().getUsername() : 'Guest' }}
                        </td>
                        <td>{{ refreshToken.getToken()|u.truncate(70, '...') }}</td>
                        <td>{{ refreshToken.getExpirationDate()
                            ? refreshToken.getExpirationDate()|date('d-m-Y H:i:s', 'Europe/Paris')
                            : '' }}
                        </td>
                        <td style="display: flex; flex-direction: column">
                            <button class="btn btn-sm btn-outline-danger"
                                    data-uuid="{{ refreshToken.getToken() }}"
                                    data-controller="refreshToken"
                                    data-action="refreshToken#deleteRefreshToken"
                            >
                                Supprimer
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(refreshTokens) }}
            </div>
        </div>
    {% endblock %}
    <button class="btn btn-danger me-2"
            data-controller="refreshToken"
            data-action="refreshToken#clearRefreshToken"
    >
        Supprimer tous les tokens
    </button>
    <button class="btn btn-secondary">Supprimer les tokens des Guests</button>
{% endblock %}
