{% extends 'base.html.twig' %}

{% block title %}Types de question{% endblock %}
{% block stylesheets %} {{ parent() }} {{ encore_entry_link_tags('questionType') }}{% endblock %}

{% block body %}
    <h1 class="title-page">Types de question</h1>

    <table class="table table-entity mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Label</th>
                <th>Ischild</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question_type in question_types %}
            <tr>
                <td>{{ question_type.id }}</td>
                <td>{{ question_type.name }}</td>
                <td>{{ question_type.label }}</td>
                <td>{{ question_type.ischild ? 'Yes' : 'No' }}</td>
                <td>{{ question_type.createdAt ? question_type.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ question_type.updatedAt ? question_type.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('question_type_show', {'id': question_type.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('question_type_edit', {'id': question_type.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="no-result">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-4" href="{{ path('question_type_new') }}">+ Ajouter</a>
{% endblock %}
