{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
{#    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue libero ac odio accumsan, quis dictum risus imperdiet. Donec in metus tellus. Donec vitae imperdiet nulla. Nulla luctus nunc lorem, eu accumsan ex scelerisque ut. Suspendisse ipsum risus, luctus sit amet imperdiet consequat, placerat et ligula. Phasellus commodo et tortor quis mollis. Nulla facilisi. Vestibulum sit amet tellus finibus, posuere nunc sit amet, aliquam mauris. Aenean a erat aliquam, maximus magna vitae, ultrices neque. Nunc lobortis risus lacus, ut lacinia sem eleifend eu. Proin porta risus vitae mattis scelerisque. Donec hendrerit sit amet turpis ac porttitor. Morbi vel auctor nisl. Nunc at dolor faucibus ante volutpat ultricies quis sit amet magna. Donec dignissim aliquet laoreet.#}

{#        Ut fermentum condimentum leo a ornare. Pellentesque laoreet molestie gravida. Ut efficitur porta mi, nec volutpat risus convallis eget. Etiam fringilla turpis pellentesque velit vulputate accumsan vitae et mauris. In lobortis turpis a lorem varius auctor. Phasellus viverra risus vitae turpis lobortis malesuada. Integer ac nisl quis arcu euismod elementum. Mauris faucibus eu neque vitae aliquet. Suspendisse potenti. Nulla hendrerit dignissim mauris vitae efficitur.#}

{#        Nunc a sapien et tellus dapibus feugiat. In consequat purus efficitur ante venenatis ornare. Praesent ut diam elit. Donec sem diam, commodo in mi at, euismod consectetur turpis. Etiam et lobortis metus. Proin nisl quam, vestibulum sit amet auctor eget, elementum nec ante. Vivamus maximus risus at elit fermentum, eget lobortis elit dictum. Ut a mi finibus, lobortis turpis ut, vehicula leo.#}

{#        Fusce sed molestie dui. Praesent fermentum sapien magna, at sollicitudin ante facilisis at. Proin consequat leo euismod tristique tincidunt. Nunc volutpat ex nec libero vehicula, vel lobortis enim venenatis. Aenean id purus et libero condimentum semper. Curabitur vitae nibh nunc. Integer tincidunt neque eu tortor feugiat, vitae vestibulum purus viverra. Proin tellus purus, sagittis at fringilla ut, efficitur vitae ex. Vestibulum lorem urna, tincidunt at nisi at, efficitur rutrum turpis. Nulla facilisi. Suspendisse at posuere enim.#}

{#        Donec id magna nec nisl condimentum tempor molestie sed sem. Phasellus tempor commodo lacus vel aliquet. Morbi vitae lorem accumsan, congue ligula ut, ultrices magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc enim elit, ullamcorper in nisi id, ornare molestie massa. Vestibulum elementum consectetur odio, sit amet congue enim mollis vitae. Vestibulum pellentesque consectetur sapien quis maximus. Nam porttitor malesuada tincidunt. Praesent non semper arcu. Aliquam fermentum viverra sapien, interdum vulputate nunc mattis a. Duis fermentum, neque quis lacinia condimentum, mauris neque tempus sem, ac blandit lectus sem ac lorem. Proin tempor urna diam, ut semper nisi commodo sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue libero ac odio accumsan, quis dictum risus imperdiet. Donec in metus tellus. Donec vitae imperdiet nulla. Nulla luctus nunc lorem, eu accumsan ex scelerisque ut. Suspendisse ipsum risus, luctus sit amet imperdiet consequat, placerat et ligula. Phasellus commodo et tortor quis mollis. Nulla facilisi. Vestibulum sit amet tellus finibus, posuere nunc sit amet, aliquam mauris. Aenean a erat aliquam, maximus magna vitae, ultrices neque. Nunc lobortis risus lacus, ut lacinia sem eleifend eu. Proin porta risus vitae mattis scelerisque. Donec hendrerit sit amet turpis ac porttitor. Morbi vel auctor nisl. Nunc at dolor faucibus ante volutpat ultricies quis sit amet magna. Donec dignissim aliquet laoreet.#}

{#        Ut fermentum condimentum leo a ornare. Pellentesque laoreet molestie gravida. Ut efficitur porta mi, nec volutpat risus convallis eget. Etiam fringilla turpis pellentesque velit vulputate accumsan vitae et mauris. In lobortis turpis a lorem varius auctor. Phasellus viverra risus vitae turpis lobortis malesuada. Integer ac nisl quis arcu euismod elementum. Mauris faucibus eu neque vitae aliquet. Suspendisse potenti. Nulla hendrerit dignissim mauris vitae efficitur.#}

{#        Nunc a sapien et tellus dapibus feugiat. In consequat purus efficitur ante venenatis ornare. Praesent ut diam elit. Donec sem diam, commodo in mi at, euismod consectetur turpis. Etiam et lobortis metus. Proin nisl quam, vestibulum sit amet auctor eget, elementum nec ante. Vivamus maximus risus at elit fermentum, eget lobortis elit dictum. Ut a mi finibus, lobortis turpis ut, vehicula leo.#}

{#        Fusce sed molestie dui. Praesent fermentum sapien magna, at sollicitudin ante facilisis at. Proin consequat leo euismod tristique tincidunt. Nunc volutpat ex nec libero vehicula, vel lobortis enim venenatis. Aenean id purus et libero condimentum semper. Curabitur vitae nibh nunc. Integer tincidunt neque eu tortor feugiat, vitae vestibulum purus viverra. Proin tellus purus, sagittis at fringilla ut, efficitur vitae ex. Vestibulum lorem urna, tincidunt at nisi at, efficitur rutrum turpis. Nulla facilisi. Suspendisse at posuere enim.#}

{#        Donec id magna nec nisl condimentum tempor molestie sed sem. Phasellus tempor commodo lacus vel aliquet. Morbi vitae lorem accumsan, congue ligula ut, ultrices magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc enim elit, ullamcorper in nisi id, ornare molestie massa. Vestibulum elementum consectetur odio, sit amet congue enim mollis vitae. Vestibulum pellentesque consectetur sapien quis maximus. Nam porttitor malesuada tincidunt. Praesent non semper arcu. Aliquam fermentum viverra sapien, interdum vulputate nunc mattis a. Duis fermentum, neque quis lacinia condimentum, mauris neque tempus sem, ac blandit lectus sem ac lorem. Proin tempor urna diam, ut semper nisi commodo sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue libero ac odio accumsan, quis dictum risus imperdiet. Donec in metus tellus. Donec vitae imperdiet nulla. Nulla luctus nunc lorem, eu accumsan ex scelerisque ut. Suspendisse ipsum risus, luctus sit amet imperdiet consequat, placerat et ligula. Phasellus commodo et tortor quis mollis. Nulla facilisi. Vestibulum sit amet tellus finibus, posuere nunc sit amet, aliquam mauris. Aenean a erat aliquam, maximus magna vitae, ultrices neque. Nunc lobortis risus lacus, ut lacinia sem eleifend eu. Proin porta risus vitae mattis scelerisque. Donec hendrerit sit amet turpis ac porttitor. Morbi vel auctor nisl. Nunc at dolor faucibus ante volutpat ultricies quis sit amet magna. Donec dignissim aliquet laoreet.#}

{#        Ut fermentum condimentum leo a ornare. Pellentesque laoreet molestie gravida. Ut efficitur porta mi, nec volutpat risus convallis eget. Etiam fringilla turpis pellentesque velit vulputate accumsan vitae et mauris. In lobortis turpis a lorem varius auctor. Phasellus viverra risus vitae turpis lobortis malesuada. Integer ac nisl quis arcu euismod elementum. Mauris faucibus eu neque vitae aliquet. Suspendisse potenti. Nulla hendrerit dignissim mauris vitae efficitur.#}

{#        Nunc a sapien et tellus dapibus feugiat. In consequat purus efficitur ante venenatis ornare. Praesent ut diam elit. Donec sem diam, commodo in mi at, euismod consectetur turpis. Etiam et lobortis metus. Proin nisl quam, vestibulum sit amet auctor eget, elementum nec ante. Vivamus maximus risus at elit fermentum, eget lobortis elit dictum. Ut a mi finibus, lobortis turpis ut, vehicula leo.#}

{#        Fusce sed molestie dui. Praesent fermentum sapien magna, at sollicitudin ante facilisis at. Proin consequat leo euismod tristique tincidunt. Nunc volutpat ex nec libero vehicula, vel lobortis enim venenatis. Aenean id purus et libero condimentum semper. Curabitur vitae nibh nunc. Integer tincidunt neque eu tortor feugiat, vitae vestibulum purus viverra. Proin tellus purus, sagittis at fringilla ut, efficitur vitae ex. Vestibulum lorem urna, tincidunt at nisi at, efficitur rutrum turpis. Nulla facilisi. Suspendisse at posuere enim.#}

{#        Donec id magna nec nisl condimentum tempor molestie sed sem. Phasellus tempor commodo lacus vel aliquet. Morbi vitae lorem accumsan, congue ligula ut, ultrices magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc enim elit, ullamcorper in nisi id, ornare molestie massa. Vestibulum elementum consectetur odio, sit amet congue enim mollis vitae. Vestibulum pellentesque consectetur sapien quis maximus. Nam porttitor malesuada tincidunt. Praesent non semper arcu. Aliquam fermentum viverra sapien, interdum vulputate nunc mattis a. Duis fermentum, neque quis lacinia condimentum, mauris neque tempus sem, ac blandit lectus sem ac lorem. Proin tempor urna diam, ut semper nisi commodo sed.</p>#}
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
