{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="h2">Tags</h1>
        <hr>
    </div>
    <div data-controller="tag">
        <div class="row mb-3">
            <div class="col-3">
                <input type="text"
                       data-input="uuid"
                       id="uuid-input"
                       data-action="tag#onInput"
                       placeholder="UUID"
                       class="form-control"/>
            </div>
            <div class="col-3">
                <input type="text"
                       data-input="search"
                       id="search-input"
                       data-action="tag#onInput"
                       placeholder="Nom ou label"
                       class="form-control"/>
            </div>
        </div>
    </div>
    {% block tags %}
        <div id="tags-block" data-controller="tag" class="mb-3">
            <div class="count mb-2">
                <span style="font-size: 1.1em">Total : </span>
                <span class="badge bg-primary" style="font-size: 1em">{{ tags.getTotalItemCount }}</span>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Uuid</th>
                        <th>Nom</th>
                        <th>Label</th>
                        <th>Crée le</th>
                        <th>Modifié le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.getId() }}</td>
                        <td>{{ tag.getName() }}</td>
                        <td>{{ tag.getLabel() }}</td>
                        <td>{{ tag.getCreatedAt() ? tag.createdAt|date('d-m-Y H:i:s', 'Europe/Paris') : '' }}</td>
                        <td>{{ tag.getUpdatedAt() ? tag.updatedAt|date('d-m-Y H:i:s', 'Europe/Paris') : '' }}</td>
                        <td style="display: flex; flex-direction: column">
                            <a href="{{ path('tag_show', {'id': tag.id}) }}"
                               class="btn btn-sm btn-outline-primary mb-2"
                            >
                                Afficher
                            </a>
                            <a href="{{ path('tag_edit', {'id': tag.id}) }}"
                               class="btn btn-sm btn-outline-primary"
                            >
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(tags) }}
            </div>
        </div>
    {% endblock %}
    <a href="{{ path('tag_new') }}" class="btn btn-primary">Ajouter</a>
{% endblock %}
