{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="h2">Utilisateurs</h1>
        <hr>
    </div>
    {% block users %}
        <div id="users-block" data-controller="users" class="mb-3">
            <div class="count mb-2">
                <span style="font-size: 1.1em">Total : </span><span class="badge bg-primary" style="font-size: 1em">40000</span>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Uuid</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Plan</th>
                        <th>Role</th>
                        <th>Rédacteur validé</th>
                        <th>Actif</th>
                        <th>Banni</th>
                        <th>Créé le</th>
                        <th>Modifié le </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.plan }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.isTrustyWriter
                            ? '<i class="bi bi-check-lg text-success"></i>'
                            : '<i class="bi bi-x-lg text-danger"></i>' }}</td>
                        <td>{{ user.isActive
                            ? '<i class="bi bi-check-lg text-success"></i>'
                            : '<i class="bi bi-x-lg text-danger"></i>' }}</td>
                        <td>{{ user.isBanned
                            ? '<i class="bi bi-check-lg text-success"></i>'
                            : '<i class="bi bi-x-lg text-danger"></i>' }}</td>
                        <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
                        <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}"
                               class="btn btn-sm btn-outline-primary mb-2"
                            >
                                Afficher
                            </a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}"
                               class="btn btn-sm btn-outline-primary mb-2"
                            >
                                Modifier
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
